/* Default Rules */

* {
  box-sizing: border-box;
}

body,
html,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

/* Wrapper Rules */

.lockscreen {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background: url("./image/pexels-photo-814499.jpeg") no-repeat 0 0 / cover;
  transition: transform 0.2s linear;
  -webkit-transition: transform 0.2s linear;
  -moz-transition: transform 0.2s linear;
  -ms-transition: transform 0.2s linear;
  -o-transition: transform 0.2s linear;
}

.lock-box {
  display: none;
}

.lock-box:checked~.lockscreen {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}

/* .wrapper {
  width: 100vw;
  height: 100vh;
}
.wrapper::before {
  content: "";
  width: 100vw;
  height: 100vh;
  background: url("./image/pexels-photo-814499.jpeg") no-repeat 100% / cover;
  filter: blur(20px);
  -webkit-filter: blur(20px);
} */