/* Default Rules */

* {
  box-sizing: border-box;
}

body,
html,
input,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover,
button:hover {
  cursor: pointer;
}

.flex-row {
  display: flex;
}

.flex-row-left {
  display: flex;
  justify-content: flex-start;
}

.flex-row-middle {
  display: flex;
  justify-content: center;
}

.flex-row-right {
  display: flex;
  justify-content: flex-end;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.frow-item-top {
  align-self: flex-start;
}

.frow-item-middle {
  align-self: center;
}

.frow-item-bottom {
  align-self: flex-end;
}

.flex-col-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flex-col-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-col-middle-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-col-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.fcol-item-left {
  align-self: flex-start;
}

.fcol-item-center {
  align-self: center;
}

.fcol-item-right {
  align-self: flex-end;
}

.grid {
  display: grid;
}

.img-fit {
  width: auto;
  height: 100%;
  margin: 0 0.3em;
}

.img-fit-round {
  width: auto;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 0.3em;
}

.hidden {
  display: none;
}

.hidden-v {
  visibility: hidden;
}
/* Wrapper Rules */

.lockscreen {
  position: fixed;
  z-index: 50;
  width: 100vw;
  height: 100%;
  padding: 1em;
  background: url("./image/pexels-photo-814499.jpeg") no-repeat 0 0 / cover;
  transition: transform 0.2s linear;
  -webkit-transition: transform 0.2s linear;
  -moz-transition: transform 0.2s linear;
  -ms-transition: transform 0.2s linear;
  -o-transition: transform 0.2s linear;
}

.lock-box {
  display: none;
}

.lock-box:checked~.lockscreen {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}

.ls-date-time {
  height: 40%;
}

.ls-dt-time,
.ls-dt-date {
  color: white;
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ls-dt-date {
  font-size: 40px;
}

.ls-icons {
  height: 5%;
}

.login {
  position: relative;
  z-index: 10;
  width: 100vw;
  height: 100vh;
}

.login::before {
  position: fixed;
  z-index: -1;
  content: "";
  width: 100vw;
  height: 100vh;
  background: url("./image/pexels-photo-814499.jpeg") no-repeat 100% / cover;
  filter: blur(20px);
  -webkit-filter: blur(20px);
}

.login-field {
  width: 100%;
  height: 90%;
}

.login-field>* {
  margin: 0.2em 0;
}

.lg-user-name,
.lg-options {
  color: white;
  font-size: 40px;
  font-weight: lighter;
}

.lg-user-icon {
  width: 200px;
  height: auto;
}

.lg-user-input {
  width: 250px;
  height: 5%;
}

.lg-user-pw {
  width: 85%;
  height: 100%;
  border: 2px solid gray;
  border-right: unset;
  padding: 0.2em;
}

.lg-login-btn {
  width: 15%;
  height: 100%;
  border: 2px solid gray;
  border-left: unset;
  background: url("./image/png/lg-btn.png") no-repeat center center / 50%, #666;
}

.lg-options {
  font-size: 15px;
}

.login-bottom-icons {
  width: 100%;
  height: 9%;
  padding: 0 2em 0 0;
}

.login-bottom-icons p {
  color: white;
}

.login-bottom-icons a {
  margin: 0 0.3em;
}

.login-bottom-icons a:hover, 
.lg-login-btn:hover {
  background-color: rgba(255, 255, 255, 0.486);
}

.login-bottom-icons img {
  height: 30px;
  width: 30px;
}

/* Log in interface ends here */

/* Main window starts here */

/* task bar starts here */
.taskbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 47px;
  background-color: #0f0f14ea;
  /* background-color: #20252a; */
}

.default-tbar-items {
  width: auto;
  margin: 0 auto 0 0;
}

.start-btn {
  height: 100%;
  width: 48px;
  background: url("./image/png/start.png") no-repeat center / 70%; 
}

.start-btn:hover {
  background-color: rgba(97, 94, 94, 0.445);
  cursor: pointer;
}

.dummy-input {
  position: absolute;
  width: 0;
  transform: translateY(-200vh);
  -webkit-transform: translateY(-200vh);
  -moz-transform: translateY(-200vh);
  -ms-transform: translateY(-200vh);
  -o-transform: translateY(-200vh);
}

.dummy-input:focus ~ .start-menu {
  display: flex;
}

.start-menu {
  position: fixed;
  bottom: 48px;
  display: none;
  height: 80vh;
  width: 63vw;
  background-color: #272323c9;
}

.start-menu:hover {
  display: flex;
}

.tb-search {
  height: 100%;
  width: 344px;
  padding: 1em 3em;
  font-size: 14px;
  background: url("./image/png/search.png") no-repeat 4% 50% / 20px, white;
  border: unset;
  border-top: 1px rgba(170, 164, 164, 0.589) solid;
}

.tb-search::placeholder {
  color: rgb(49, 47, 47);
}

.tb-search:focus ~ .search-box {
  display: flex;
}

.search-box {
  position: fixed;
  bottom: 49px;
  left: 48px;
  display: none;
  height: 80vh;
  width: 51vw;
  background-color: #272323c9;
}

.search-box:hover {
  display: flex;
}

.default-tbar-items > a {
  align-self: center;
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.default-tbar-items > a:hover {
  background-color: rgba(97, 94, 94, 0.445);
}

.tbar-left-image {
  width: 30px;
}

.default-tbar-items a:nth-of-type(1) > img {
  width: 20px;
}

.default-tbar-icons * {
  align-self: center;
}

.default-tbar-icons a:hover,
.default-tbar-icons div:hover {
  background-color: rgba(97, 94, 94, 0.445);
}

.default-tbar-icons a,
.default-tbar-icons div {
  height: 100%;
}

.default-tbar-icons a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tbar-right-image {
  width: 22px;
  height: auto;
}

.tb-date-time {
  color: white;
  font-size: 13px;
  margin: 0 1.2em;
}

.default-tbar-icons a:nth-of-type(3) > img {
  width: 18px;
}

.tb-gear {
  display: none;
}

.show-desk {
  width: 6px;
  height: 100%;
  margin: 0 0 0 1em;
  border-left: 1px solid rgb(141, 135, 135);
}

@media screen and (max-width:1024px) {
  .tb-search {
    width: 300px;
  }
}

@media screen and (max-width:768px) {
  .tb-search {
    width: 30vw;
  }
  .default-tbar-icons > a:nth-child(n):not(:first-child){
    display: none;
  }
  .default-tbar-icons >div {
    order: 1;
  }

  .show-desk {
    order: 1;
  }

  .tb-gear {
    display: block;
  }
}

@media screen and (max-width:508px) {
  .taskbar {
    flex-direction: column;
    height: 78px;
  }

  .default-tbar-icons {
    align-self: flex-end;
  }
}